.toplevel_page_wishcart img {
  width: 20px;
  height: 20px;
  margin-top: -1.5px;
}

.toplevel_page_wishcart.wp-menu-open img {
  width: 20px;
  height: 20px;
  padding: 0 !important;
  margin-top: 7.5px;
  margin-left: 7px;
}